<!DOCTYPE html>
<html>
<head>
    <title>User page</title>
    <style>
        body {
            background-color: #f1f1f1;
            font-family: Arial, sans-serif;
            color: #333;
        }

        h1 {
            color: #c0392b;
        }

        h2 {
            color: #2980b9;
        }

        #username, #userage {
            color: #e67e22;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Congratulations, the authorization was successful!</h1>

    <h2>Name: <p id="username" style="display: inline;"></p> .</h2>
    <h2>Age: <p id="userage" style="display: inline;"></p> y.o.</h2>

    <script src="static/user_cab.js"></script>
</body>
</html>